// Variables declaration
$base-background-color : #1C1A1A;

// Styling
*{
    margin: 0;
    padding: 0;
    font-family: Rockwell;
    color: #ffff;
}

body{
    background-color: $base-background-color;
}

body, html{
    box-sizing: border-box;
    height: 100%;
}

p{
    font-size: 20px;
}