.list-header{
    text-align: center;
    padding-top: 15px;
}

.event-list{
    border-radius: 5px;
    height: 725px;
    
    &.good{
        background-color: #1A1C1A;
        border: 1px solid #00A700;
    }

    &.bad{
        background-color: #221A1A;
        border: 1px solid #A50808;
    }

}

.event-list li{
    position: relative;
    padding-right: 35px;
    padding-left: 10px;
    list-style-position: inside;
    padding-top: 5px;
    word-wrap: break-word;
}

.event-user-input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.add-event-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    &.good{
        border: 2px solid #00A700;
    }

    &.bad{
        border: 2px solid #A50808;
    }
}

.add-event-button p{
    font-size: 18px;
}

.delete-event-button{
    position: absolute;
    top: 10%;
    right: 2%;
    height: 1.1rem !important;
    width: 1.1rem;
}

:host ::ng-deep .p-button-icon {
    font-size: 11px !important;
}
