<div [ngClass]="goodList ? 'event-list good' : 'event-list bad'">
    <h1 class="list-header">{{goodList ? "Good" : "Bad"}}</h1>
    <ul>
        <li *ngFor="let event of events; let i = index" [attr.data-index]="i">
            {{event}}
            <button pButton pRipple 
                    type="button" 
                    icon="pi pi-times" 
                    *ngIf="isEditMode"
                    class="p-button-rounded p-button-danger delete-event-button"
                    (click)="onRemoveClick(i)">
            </button>
        </li>
    </ul>
    <input *ngIf="isEditMode" class="event-user-input" (keyup)="onKeyUp($event)" type="text" placeholder="Type an event ..." [value]="userInputValue">
    <button 
        *ngIf="isEditMode" 
        [ngClass]="goodList ? 'add-event-button good' : 'add-event-button bad'"
        (click)="onAddClick()"
    >
        <p>+</p>
    </button>
</div>