<div *ngIf="visible" class="container">
    <div class="dialog-box">
        <button class="close-rate-year-dialog-box" (click)="onCloseClick()">X</button>
        <p class="rating-header">
            What this year is worth to you on 10 ?
        </p>
        <div class="rate-year-stars">
            <span (click)="onStarRateClick(10)">
                <span *ngIf="rate<10">
                    &#9734;
                </span>
                <span *ngIf="rate==10" [className]="rate==10 ? 'rated' : ''">
                    &#9733;
                </span>
            </span>

            <span (click)="onStarRateClick(9)">
                <span *ngIf="rate<9">
                    &#9734;
                </span>
                <span *ngIf="rate>=9" [className]="rate>=9 ? 'rated' : ''">
                    &#9733;
                </span>
            </span>

            <span (click)="onStarRateClick(8)">
                <span *ngIf="rate<8">
                    &#9734;
                </span>
                <span *ngIf="rate>=8" [className]="rate>=8 ? 'rated' : ''">
                    &#9733;
                </span>
            </span>

            <span (click)="onStarRateClick(7)">
                <span *ngIf="rate<7">
                    &#9734;
                </span>
                <span *ngIf="rate>=7" [className]="rate>=7 ? 'rated' : ''">
                    &#9733;
                </span>
            </span>

            <span (click)="onStarRateClick(6)">
                <span *ngIf="rate<6">
                    &#9734;
                </span>
                <span *ngIf="rate>=6" [className]="rate>=6 ? 'rated' : ''">
                    &#9733;
                </span>
            </span>

            <span (click)="onStarRateClick(5)">
                <span *ngIf="rate<5">
                    &#9734;
                </span>
                <span *ngIf="rate>=5" [className]="rate>=5 ? 'rated' : ''">
                    &#9733;
                </span>
            </span>

            <span (click)="onStarRateClick(4)">
                <span *ngIf="rate<4">
                    &#9734;
                </span>
                <span *ngIf="rate>=4" [className]="rate>=4 ? 'rated' : ''">
                    &#9733;
                </span>
            </span>

            <span (click)="onStarRateClick(3)">
                <span *ngIf="rate<3">
                    &#9734;
                </span>
                <span *ngIf="rate>=3" [className]="rate>=3 ? 'rated' : ''">
                    &#9733;
                </span>
            </span>

            <span (click)="onStarRateClick(2)">
                <span *ngIf="rate<2">
                    &#9734;
                </span>
                <span *ngIf="rate>=2" [className]="rate>=2 ? 'rated' : ''">
                    &#9733;
                </span>
            </span>

            <span (click)="onStarRateClick(1)">
                <span *ngIf="rate<1">
                    &#9734;
                </span>
                <span *ngIf="rate>=1" [className]="rate>=1 ? 'rated' : ''">
                    &#9733;
                </span>
            </span>
        </div>
        <div>
            <button class="generate-button" (click)="onGenerateClick()">Generate</button>
            <button class="edit-button" (click)="onEditClick()">Edit</button>
        </div>
    </div>
</div>