.container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(121, 121, 121, 0.9);    
}

.dialog-box{
    position: relative;
    left: 35%;
    top: 20%;
    width: 600px;
    height: 300px;
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
    text-align: center;
}

.close-rate-year-dialog-box{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding-top: 8px;
    padding-right: 12px;
    font-size: 18px;
    font-family: sans-serif;
    outline: none;
    cursor: pointer;
}

.rating-header{
    text-align: center;
    padding-top: 10%;
    font-size: 25px;
}

.rate-year-stars{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rate-year-stars > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    cursor: pointer;
}

.rate-year-stars > span:hover:before,
.rate-year-stars > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}

.rated{
    color: gold;
}

.generate-button{
    width: 130px;
    height: 40px;
    position: absolute;
    border: 1px solid #00A700;
    background-color: transparent;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    text-align: center;
    left: 15%;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}

.edit-button{
    width: 130px;
    height: 40px;
    position: absolute;
    border: 1px solid red;
    background-color: transparent;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    right: 15%;
    outline: none;
}