<!-- Main Component -->
<div class="main-container">
    <app-home-button></app-home-button>
    <div class="header">
        <h1 innerHtml="{{isEditMode ? takeStockHeader : introspectionHeader}}"></h1>
        <p innerHtml="{{isEditMode ? takeStockText : introspectionText}}"></p>
    </div>
    <div class="events-container">
        <div class="bad-event-lists">
            <app-event-list [goodList]="false" [isEditMode]="isEditMode ? true : false" (listIsFilled)="badListIsFilledEvent($event)"></app-event-list>
        </div>
        <div class="good-event-list">
            <app-event-list [goodList]="true" [isEditMode]="isEditMode ? true : false" (listIsFilled)="goodListIsFilledEvent($event)"></app-event-list>
        </div>
        <button [className]="isEditMode ? 'generate-button' : 'edit-button'" (click)="onRateAndGenerateClick(true)">
            {{isEditMode ? "Rate and Generate" : "Edit"}}
        </button>
        <button *ngIf="!isEditMode" class="share-button" (click)="onShareClick()">Share</button>
    </div>
</div>

<!-- Rate Year Dialog Box -->
<app-rate-year-dialog-box [visible]="showRateYearDialogBox" (isVisibleEvent)="onRateAndGenerateClick($event)"
    (generateClickEvent)="onGenerateClick($event)">
</app-rate-year-dialog-box>