.main-container{
    position: relative;
    height: 100%;
}

.header{
    text-align: center;
    padding-top: 40px;
}

.header p{
    padding-top: 20px;
}

.events-container{
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}

.bad-event-lists{
    flex: 0 1 550px;
    margin-right: 35px;
    margin-left: 40px;
}

.good-event-list{
    flex: 0 1 550px;
    margin-left: 35px;
    margin-right: 40px;
}

.generate-button{
    position: absolute;
    width: 130px;
    height: 80px;
    border: 1px solid #00A700;
    background-color: transparent;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    right: 7%;
    outline: none;
}

.edit-button{
    width: 130px;
    height: 40px;
    position: absolute;
    border: 1px solid #00A700;
    background-color: transparent;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    right: 7%;
    outline: none;
}

.rate-year-button{
    width: 130px;
    height: 40px;
    position: absolute;
    border: 1px solid #00A700;
    background-color: transparent;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 90px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    right: 7%;
    outline: none;
}

.share-button{
    width: 130px;
    height: 40px;
    position: absolute;
    border: 1px solid #00A700;
    background-color: transparent;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    right: 7%;
    outline: none;
}

.rate-this-year{
    color: red;
    border-bottom: 1px solid red;
    cursor: pointer;
}

@media (max-width: 1440px) { 
    .bad-event-lists{
        left: 11%;
    }

    .good-event-list{
        right: 11%;
    }

    .generate-button{
        right: 1%;
    }
 }