.main-container{
    position: relative;
    height: 100%;
}

.header{
    padding-top: 40px;
    text-align: center;
}

.header h1{
    font-size: 40px;
}

.current-year{
    color: red;
    padding-left: 40px;
}

.rate-of-the-year{
    padding-top: 15px;
}

.number-of-rates-text{
    padding-top: 0;
    font-size: 12px;
    font-style: italic;
}

.content{
    padding-top: 50px;
}

.home-image{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    left: 10%;
}

.home-text{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 35%;
}

.take-stock-button{
    position: absolute;
    left: 67%;
    top: 50%;
    background-color: transparent;
    border: 1px solid white;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    outline: none;
}

.take-stock-button:hover{
    cursor: pointer;
}