<div class="main-container">
    <div class="header">
        <h1>RATE <span class="current-year">2020</span></h1>
        <p class="rate-of-the-year">Average rate of this year : 0/10</p>
        <p class="number-of-rates-text">Rate based on {{nbOfVotes}} votes.</p>
    </div>
    
    <div class="content">
        <img class="home-image" src="../../../assets/images/Home Page Image.png" alt="home-page-image">
    
        <p class="home-text">
            2020 was a shitty year overall 
            <br>
            It is time for us to think about what happened in our life during those last months,
            <br>
            take stock and start 2021 as good as possible
        </p>

        <button class="take-stock-button" routerLink="/take-stock">
            Take a stock
        </button>
    </div>
</div>